Repository galacticusorg/galacticus, pull requests merged in 2024-06, with the labels that each got.

#616 Catch cases where the cooling rate is discontinuous
  source/cooling.cooling_radius.simple.F90
Labels: bug, cooling

#617 Catch negative black hole masses in post-step phase
  source/objects.nodes.components.black_hole.standard.F90
Labels: bug, black holes

#618 Add a `coolingRate` class which limits cooling to the main branch of the merger tree
  source/cooling.cooling_rate.main_branch_only.F90
Labels: cooling

#619 Add functionality to track and output gas-mass-based major merger times
  source/nodes.operators.analyses.galaxy_gas_major_merger_time.F90
  source/nodes.operators.analyses.galaxy_major_merger_time.F90
  source/nodes.property_extractor.galaxy_gas_major_merger_time.F90
  source/objects.nodes.components.disk.standard.F90
  source/objects.nodes.components.spheroid.standard.F90
Labels: merging

#620 Store `starFormationHistoryAdaptive` timesteps and mappings to file
  source/star_formation.histories.adaptive.F90
Labels: optimization, IO, star formation

#621 Include the `starFormationHistory` timestep class in reference models
  parameters/reference/evolutionGalaxyFormation.xml
Labels: optimization, star formation

#622 Add functionality to record (and output) the orbital properties of merged subhalos
  perl/Galacticus/Build/SourceTree/Process/Enumeration.pm
  source/nodes.operators.physics.satellite_merging.radius_trigger.F90
  source/nodes.property_extractor.merged_subhalo_properties.F90
  source/objects.kepler_orbits.F90
Labels: subhalos, merging

#626 Add an `outputAnalysis` class to compute high-z H and J-band luminosity functions
  doc/Galacticus.bib
  source/objects.stellar_luminosities.F90
  source/output.analyses.luminosity_function.Stefanon-Marchesini2013.F90
Labels: constraints

#627 Add summation over HII region n_H densities
  doc/Galacticus.bib
  source/hiiRegions.density_distributions.F90
  source/hiiRegions.density_distributions.delta_function.F90
  source/hiiRegions.density_distributions.log_normal.F90
  source/nodes.property_extractor.luminosity_emission_line.F90
Labels: emission lines

#629 Add missing destructors
  source/output.analyses.Local_Group.mass_metallicity_relation.F90
  source/output.analyses.Local_Group.mass_size_relation.F90
  source/output.analyses.Local_Group.mass_velocity_dispersion_relation.F90
  source/output.analyses.Local_Group.occupation_fraction.F90
  source/output.analyses.Local_Group.stellar_mass_function.F90
  source/output.analyses.Local_Group.stellar_mass_halo_mass_relation.F90
  source/output.analyses.Sunyaev-Zeldovich_Planck2013.F90
Labels: bug, memory leak

#630 Add functionality to check that all code directives were processed
  perl/Galacticus/Build/SourceTree.pm
  perl/Galacticus/Build/SourceTree/Hooks.pm
  perl/Galacticus/Build/SourceTree/Parse/Directives.pm
  perl/Galacticus/Build/SourceTree/Process/Allocate.pm
  perl/Galacticus/Build/SourceTree/Process/DeepCopyActions.pm
  perl/Galacticus/Build/SourceTree/Process/ForEach.pm
  perl/Galacticus/Build/SourceTree/Process/FunctionClass.pm
  perl/Galacticus/Build/SourceTree/Process/Generics.pm
  perl/Galacticus/Build/SourceTree/Process/NonProcessed.pm
  perl/Galacticus/Build/SourceTree/Process/OptionalArgument.pm
Labels: build

#631 Build `mangle` from our forked repo
  .github/workflows/cicd.yml
  .github/workflows/dependencyBot.yml
  .github/workflows/profile.yml
  .github/workflows/testModel.yml
  aux/dependencies.yml
  parameters/buildTools.xml
  source/geometry.mangle.F90
  source/tasks.build_tool.mangle.F90
Labels: external tools, build

#632 Add new optimization functionality
  source/models.likelihoods.galaxy_population.F90
  source/output.analyses.F90
  source/output.analyses.Local_Group.mass_metallicity_relation.F90
  source/output.analyses.Local_Group.mass_size_relation.F90
  source/output.analyses.Local_Group.mass_velocity_dispersion_relation.F90
  source/output.analyses.Local_Group.occupation_fraction.F90
  source/output.analyses.Local_Group.stellar_mass_function.F90
  source/output.analyses.Local_Group.stellar_mass_halo_mass_relation.F90
  source/output.analyses.correlation_function.F90
  source/output.analyses.cross_correlator_1d.F90
  source/output.analyses.heated_likelihood.F90
  source/output.analyses.mean_function_1d.F90
  source/output.analyses.morphological_fraction.GAMA_Moffett2016.F90
  source/output.analyses.multi.F90
  source/output.analyses.null.F90
  source/output.analyses.progenitor_mass_functions.F90
  source/output.analyses.satellite_bound_mass.F90
  source/output.analyses.satellite_radius_velocity_maximum.F90
  source/output.analyses.satellite_velocity_maximum.F90
  source/output.analyses.scatter_function_1d.F90
  source/output.analyses.stellar_vs_halo_mass_relation.COSMOS_Leauthaud2012.F90
  source/output.analyses.subhalo_mass_function.F90
  source/output.analyses.subhalo_radial_distribution.F90
  source/output.analyses.tidal_tracks.velocity_maximum.F90
  source/output.analyses.volume_function_1d.F90
  source/posterior_sampling.simulation.grid.F90
  source/posterior_sampling.state.samples.F90
  source/posterior_sampling.state.samples.Latin_hypercube.F90
  source/posterior_sampling.state.samples.prior_grid.F90
Labels: constraints
