Repository galacticusorg/galacticus, pull requests merged in 2024-10, with the labels that each got.

#712 Output the maximum memory usage
  doc/Advanced.tex
  source/utility.memory_reporting.F90
Labels: enhancement

#713 Disable colored text output when compiled for MPI
  source/display.F90
Labels: bug

#715 Add a trailing newline to the last line of source files if not present when preprocessing
  perl/Galacticus/Build/SourceTree/Process/SourceIntrospection.pm
Labels: bug, build

#716 Catch cases where the characteristic angular momentum decreases with time in the `nodeOperatorHaloAngularMomentumRandomWalk` class
  source/nodes.operators.physics.halo_angular_momentum.Vitvitska2002.F90
  source/nodes.operators.physics.halo_angular_momentum_random_walk.F90
Labels: bug

#718 Add options to report the base parameter file name and sampling state from the `posteriorSampleLikelihoodBaseParameters` class
  source/models.likelihoods.base_parameters.F90
  source/models.likelihoods.galaxy_population.F90
Labels: enhancement

#708 Add option to leave stubs of subsampled branches in place
  .github/workflows/cicd.yml
  perl/Galacticus/Build/Components/TreeNodes.pm
  source/dark_matter_profiles.structure.scale.concentration.F90
  source/merger_trees.build.controller.subsample.F90
  source/nodes.operators.clean_subsample_stubs.F90
  source/nodes.operators.filtered.main_branch.F90
  source/nodes.operators.physics.dark_matter_profile_scale.set.F90
  source/objects.nodes.F90
  testSuite/parameters/concentrationDistributionJohnson2021.xml
  testSuite/parameters/concentrationDistributionJohnson2021Subsample1e7.xml
  testSuite/parameters/concentrationDistributionJohnson2021Subsample1e8.xml
  testSuite/test-concentration-Johnson2021.pl
Labels: merger trees

#720 Add functionality allowing parameters to be conditional depending upon the value of another parameter
  .github/workflows/prChecks.yml
  doc/Advanced.tex
  parameters/reference/evolutionGalaxyFormation.xml
  parameters/reference/evolutionGalaxyFormationNBody.xml
  perl/Fortran/Utils.pm
  source/tests.parameters.F90
  source/utility.input_parameters.F90
  testSuite/parameters/testsParameters.xml
Labels: enhancement, parameters

#721 Implement correct treatment of angles in `keplerOrbit` objects
  source/merger_trees.construct.read.F90
  source/nodes.operators.physics.halo_angular_momentum.Vitvitska2002.F90
  source/objects.kepler_orbits.F90
  source/tests.kepler_orbits.F90
Labels: bug

#723 Add functionality to track and output galaxy merger trees
  .github/actions/buildMacOS/action.yml
  parameters/tutorials/galaxyMergerTree.xml
  perl/Galacticus/Build/SourceTree/Process/FunctionClass.pm
  scripts/analysis/galaxyMergerTree.py
  source/nodes.operators.analyses.galaxy_merger_tree.F90
  source/nodes.operators.multi.F90
  source/nodes.property_extractor.galaxy_merger_tree.F90
  source/nodes.property_extractor.galaxy_merger_tree.indices.F90
  source/nodes.property_extractor.galaxy_merger_tree.merger_indices.F90
  source/nodes.property_extractor.galaxy_merger_tree.merger_physical.F90
  source/nodes.property_extractor.galaxy_merger_tree.objects.F90
  source/nodes.property_extractor.galaxy_merger_tree.physical.F90
Labels: enhancement, merger trees

#726 Correct `blackHoleBinaryMergers` to `blackHoleBinaryMerger` in parameter files
  parameters.xml
  parameters/parametersProfile.xml
  parameters/parametersProfileLarge.xml
  parameters/quickTest.haloMassFunction.xml
  parameters/quickTest.xml
  parameters/tutorials/galaxyMergerTree.xml
  parameters/tutorials/lightconeOutput.xml
  testSuite/parameters/activeLuminosities.xml
  testSuite/parameters/benchmark-quickTest.xml
  testSuite/parameters/bolshoiTestTreesGLC.xml
  testSuite/parameters/checkpointingCheckpoints.xml
  testSuite/parameters/checkpointingNoCheckpoints.xml
  testSuite/parameters/checkpointingResume.xml
  testSuite/parameters/duplicatedOutputPropertyName.xml
  testSuite/parameters/impulsiveHeating.xml
  testSuite/parameters/inactiveLuminosities.xml
  testSuite/parameters/interoutputStarFormationRate.xml
  testSuite/parameters/memoryLeakFormationHalos.xml
  testSuite/parameters/mergerTreeEvolverThreaded.xml
  testSuite/parameters/outputDatasetSuffixes.xml
  testSuite/parameters/outputSelector.xml
  testSuite/parameters/outputTreeContiguosity.xml
  testSuite/parameters/parametersDiff1.xml
  testSuite/parameters/parametersDiff2.xml
  testSuite/parameters/parametersExtract.xml
  testSuite/parameters/setProperties.xml
  testSuite/parameters/test-mass-conservation-coldMode.xml
  testSuite/parameters/test-mass-conservation-standard.xml
  testSuite/parameters/test-output-times.xml
  testSuite/parameters/test-output.xml
  testSuite/parameters/test-splitForests-split.xml
  testSuite/parameters/test-splitForests-unsplit.xml
  testSuite/parameters/test-star-formation-histories-adaptive.xml
  testSuite/parameters/test-star-formation-histories-inSitu.xml
  testSuite/parameters/validation/default-valid.xml
  testSuite/parameters/validation/duplicate-parameter-invalid.xml
  testSuite/parameters/validation/duplicate-subparameter-valid.xml
  testSuite/parameters/validation/duplicate-value-invalid.xml
  testSuite/parameters/validation/missing-value-invalid.xml
  testSuite/regressions/bug711424.xml
  testSuite/regressions/bug725315.xml
  testSuite/regressions/coincidentMergerAndBranchJump.xml
  testSuite/regressions/issue142.xml
  testSuite/regressions/linearGrowthForFutureModel.xml
  testSuite/regressions/ludlowScaleSetBeforeTreeInitialization.xml
  testSuite/regressions/treeWithInitialSatelliteInProgenitorlessHost.xml
  testSuite/test-model-integration-default.xml
Labels: parameters

#727 Fix a sign error in the `mergerTreeOperatorPruneHierarchy` class
  source/merger_trees.operators.prune_hierarchy.F90
Labels: bug, merger trees

#728 Optimize evolution of high resolution merger trees
  source/merger_trees.evolver.standard.F90
  source/merger_trees.operators.consolidate_branches.F90
Labels: merger trees, optimization

#729 Make the normalization velocity in the `baugh2005` star formation timescale class settable via a parameter
  source/star_formation.timescales.Baugh2005.F90
Labels: enhancement, star formation

#730 Correctly handle indices on array parameters
  source/utility.input_parameters.F90
  testSuite/parameters/parametersExtract.xml
  testSuite/test-parameters-extract.py
Labels: bug, parameters

#731 Provide a more helpful error message when a required broad band luminosity is missing
  source/objects.stellar_luminosities.F90
Labels: error handling

#732 Implement a merger tree build controller class which builds trees containing only the main branch and certain descendants
  source/merger_trees.build.controller.main_branch.F90
Labels: merger trees
