Repository galacticusorg/galacticus, pull requests merged in 2024-09, with the labels that each got.

#685 Position interpolation was broken - fix it
  .github/workflows/cicd.yml
  source/geometry.lightcones.square.F90
  source/nodes.operators.physics.position.discrete.F90
  source/nodes.operators.physics.position.interpolated.F90
  source/nodes.operators.physics.position.orphans.F90
  source/nodes.operators.utilities.F90
  source/objects.nodes.components.position.Cartesian.F90
  source/objects.nodes.components.position.Cartesian.bound_functions.Inc
  testSuite/data/lightconeCrossingTree.xml
  testSuite/parameters/bolshoiTestTreesGLC.xml
  testSuite/parameters/bug1066052.xml
  testSuite/parameters/galacticStructureStateDeallocateBug.xml
  testSuite/parameters/inactiveNumerics.xml
  testSuite/parameters/mostMassiveProgenitorIsSubhalo.xml
  testSuite/parameters/test-lightconeCrossing.xml
  testSuite/parameters/test-splitForests-split.xml
  testSuite/parameters/test-splitForests-unsplit.xml
  testSuite/regressions/bug1053153.xml
  testSuite/regressions/coincidentMergerAndBranchJump.xml
  testSuite/regressions/deadlockMergeTargetInDescendentOfMergee.xml
  testSuite/regressions/deadlockMergeTargetInDescendentOfMergee2.xml
  testSuite/regressions/immediateSubSubMergerThenBranchJump.xml
  testSuite/regressions/initialSatelliteNoPrimaryProgenitor.xml
  testSuite/regressions/mergerAtFinalTimeInTree.xml
  testSuite/regressions/satellitePresetBoundMassNonZero.xml
  testSuite/regressions/subhaloMergesAtFinalTimeOfTree.xml
  testSuite/regressions/subhaloTwoConsecutiveMergers.xml
  testSuite/regressions/treeWithInitialSatelliteInProgenitorlessHost.xml
  testSuite/test-lightcone-crossing.py
  testSuite/test-methods_MPI.xml
Labels: bug, lightcones

#686 fix spheroidRadiusPowerLaw nodeOperator
  source/nodes.operators.empirical.spheroid_radius_power_law.F90
  testSuite/parameters/test-spheroid-power-law.xml
  testSuite/test-spheroid-power-law.py
Labels: bug

#687 Fix an off-by-one error in the `starFormationHistoryAdaptive` class
  .github/workflows/cicd.yml
  source/star_formation.histories.adaptive.F90
  source/star_formation.histories.metallicity_split.F90
  testSuite/parameters/starFormationHistoryAdaptive.xml
  testSuite/parameters/starFormationHistoryMetallicitySplit.xml
  testSuite/parameters/starFormationHistoryTree.xml
  testSuite/test-star-formation-histories.py
Labels: bug, documentation, star formation

#688 Update to new MacPort version [guile-1.8](https://ports.macportsorg/port/guile-1.8/)
  .github/actions/buildMacOS/action.yml
Labels: build, MacOS

#689 Optimize `starFormationRateSurfaceDensityDisksBlitz2006` table construction
  source/star_formation.rate_surface_density.disks.Blitz2006.F90
Labels: optimization, star formation

#690 Avoid memory leak in events filtering
  perl/Galacticus/Build/SourceTree/Process/EventHooks.pm
Labels: memory leak, events

#691 Use `output_unit` and `error_unit` from `ISO_Fortran_Env` to direct all output
  perl/Galacticus/Build/SourceTree/Process/ThreadSafeIO.pm
  source/XRay_Absorption_ISM_Wilms2000.F90
  source/benchmarks.stellar_luminosities.F90
  source/display.F90
  source/display.banner.F90
  source/error.F90
  source/radiative_transfer.matter.atomic.F90
  source/tests.fail.F90
Labels: enhancement, IO

#692 Store the run time (and time at which the run ends) to the output file
  doc/Advanced.tex
  source/output.version.F90
Labels: enhancement, IO

#693 Add new tools for working with parameter files
  .github/workflows/cicd.yml
  .github/workflows/testModel.yml
  doc/Advanced.tex
  scripts/aux/archive.pl
  scripts/aux/parametersDiff.pl
  scripts/parameters/parametersDiff.py
  scripts/parameters/parametersExtract.py
  testSuite/parameters/parametersDiff1.xml
  testSuite/parameters/parametersDiff2.xml
  testSuite/parameters/parametersExtract.xml
  testSuite/test-parameters-diff.py
  testSuite/test-parameters-extract.py
Labels: parameters

#696 update decaying profile code
  source/dark_matter_profiles_DMO.decaying.F90
Labels: dark matter

#698 Ignore empty lines when parsing directives
  perl/Galacticus/Build/Directives.pm
Labels: build

#700 Allow evaluation of text parameters
  doc/Advanced.tex
  source/tests.parameters.F90
  source/utility.input_parameters.F90
  testSuite/parameters/testsParameters.xml
Labels: parameters

#702 fix: Correctly compute the mean concentration when using the `schneider2015` class
  source/dark_matter_profiles.structure.concentration.Schneider2015.F90
Labels: bug, dark matter

#703 Never pass nodes at the final output time in the `streamImpact` galactic filter
  source/galactic.filters.stream_impact.F90
Labels: bug

#705 Support a `--dry-run` option which simply parses the parameter file but does not perform the given `task`
  doc/Running.tex
  source/Galacticus.F90
Labels: enhancement

#706 Display the logo only if not compiled using MPI
  source/display.banner.F90
Labels: bug

#707 Strip leading and trailing spaces from the output file name
  source/display.banner.F90
  source/output.HDF5.open.F90
Labels: bug

#709 fix(perf): only load the necessary parts of each dataset
  scripts/aux/extractSingleTree.py
Labels: merger trees

#710 Allow different fractions of angular momentum to be retained in disk and spheroid during disk instabilities
  parameters/baryonicPhysicsConfig.xml
  parameters/baryonicPhysicsConstrained.xml
  scripts/aux/migrations.xml
  source/galactic_dynamics.bar_instability.Efstathiou1982.F90
  source/galactic_dynamics.bar_instability.Efstathiou1982Tidal.F90
  source/galactic_dynamics.bar_instability.F90
  source/galactic_dynamics.bar_instability.fixed_timescale.F90
  source/galactic_dynamics.bar_instability.stable.F90
  source/merger_trees.operators.scale_weight.F90
  source/nodes.operators.physics.bar_instability.F90
  source/nodes.property_extractor.bar_instability_timescale.F90
Labels: merger trees, disks
