Repository galacticusorg/galacticus, pull requests merged in 2025-05, with the labels that each got.

#834 Fix incorrect spheroid mass used in determining morphology
  source/nodes.property_extractor.mass_stellar_morphology.F90
Labels: bug, constraints

#836 Detect recursion in `objectBuilder` directives
  perl/Galacticus/Build/SourceTree/Process/ObjectBuilder.pm
Labels: error handling

#837 Do not mark nodes as physically implausible because of negative disk/spheroid masses
  source/galactic_structure.radius_solver.fixed.F90
  source/objects.nodes.components.disk.standard.F90
  source/objects.nodes.components.spheroid.standard.F90
  testSuite/parameters/starFormationHistoryAdaptive.xml
  testSuite/parameters/starFormationHistoryMetallicitySplit.xml
Labels: bug, galactic structure

#838 Prevent hydrogen and helium mass fractions exceeding primordial values for negative metallicities
  source/objects.abundances.F90
  testSuite/test-reproducibility.pl
Labels: bug

#839 Use randomly selected seeds for merger trees in reference and tutorial models
  parameters.xml
  parameters/quickTest.xml
  parameters/reference/mergerTrees.xml
  parameters/tutorials/darkMatterOnlyMergerTrees.xml
  parameters/tutorials/darkMatterOnlyMergerTreesSubsampled.xml
  parameters/tutorials/darkMatterOnlySubHalos.xml
  source/mass_distributions.F90
  testSuite/data/model-integration/massFunctionHalo_beta.txt
  testSuite/data/model-integration/massFunctionHalo_default.txt
  testSuite/data/model-integration/massFunctionISM_beta.txt
  testSuite/data/model-integration/massFunctionISM_default.txt
  testSuite/data/model-integration/massFunctionStellar_beta.txt
  testSuite/data/model-integration/massFunctionStellar_default.txt
  testSuite/data/model-integration/medianSizes_beta.txt
  testSuite/data/model-integration/medianSizes_default.txt
  testSuite/parameters/validate_darkMatterOnlySubHalos_decayingDarkMatter.xml
  testSuite/test-model-integration-beta.xml
  testSuite/test-model-integration-default.xml
Labels: merger trees

#840 Implement the Vogel & Abazajian (2022) transfer function for WDM
  doc/Galacticus.bib
  source/structure_formation.transfer_function.Bode2001.F90
Labels: dark matter, structure formation

#841 fix: Avoid creating duplicate tables for the `massDistributionFiniteResolutionNFW` class
  source/kinematic_distributions.finite-resolution.NFW.F90
  source/mass_distributions.spherical.finite_resolution.NFW.F90
Labels: bug, mass distributions

#842 Do not return zero velocity dispersion for heated density profiles when the heated profile can not be determined
  .github/workflows/cicd.yml
  .github/workflows/testModel.yml
  source/kinematic_distributions.heated.F90
  testSuite/parameters/zeroVelocityDispersionDisruptingHalo.xml
  testSuite/parameters/zeroVelocityDispersionDisruptingHaloTree.xml
Labels: bug, mass distributions

#843 Add functionality to mark component properties as non-negative
  .github/workflows/cicd.yml
  .github/workflows/testModel.yml
  doc/Methods.tex
  perl/Galacticus/Build/Components/Components.pm
  perl/Galacticus/Build/Components/Implementations/ODESolver.pm
  perl/Galacticus/Build/Components/Properties.pm
  perl/Galacticus/Build/Components/TreeNodes/ODESolver.pm
  schema/componentSchema.xsd
  source/gslODEInitVal2/cscal2.c
  source/gslODEInitVal2/driver2.c
  source/gslODEInitVal2/gsl_odeiv2.h
  source/merger_trees.evolve.profiler.simple.F90
  source/merger_trees.node_evolver.standard.F90
  source/nodes.operators.physics.stellar_feedback.disks.F90
  source/nodes.operators.physics.stellar_feedback.spheroids.F90
  source/numerical.ODE_solver.F90
  source/objects.nodes.F90
  source/objects.nodes.components.black_hole.standard.F90
  source/objects.nodes.components.disk.standard.F90
  source/objects.nodes.components.hot_halo.standard.F90
  source/objects.nodes.components.spheroid.standard.F90
  source/stellar_feedback.outflows.fixed.F90
  testSuite/parameters/enforceNonNegativity/rapidDepletion.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionEnforceNonNegativityODETol0.0001.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionEnforceNonNegativityODETol0.001.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionEnforceNonNegativityODETol0.01.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionEnforceNonNegativityODETol0.1.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionEnforceNonNegativityODETol1e-6.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionEnforceNonNegativityODETol1e-9.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionODETol0.0001.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionODETol0.001.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionODETol0.01.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionODETol0.1.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionODETol1e-6.xml
  testSuite/parameters/enforceNonNegativity/rapidDepletionODETol1e-9.xml
  testSuite/parameters/enforceNonNegativity/tree.xml
  testSuite/test-enforceNonNegativity.py
Labels: components

#844 Make evaluation of UniverseMachine fits more robust
  source/nodes.operators.empirical.UniverseMachine.F90
  source/nodes.operators.empirical.central_disk.F90
  testSuite/parameters/test-UniverseMachine.xml
Labels: bug

#845 Fix memory leaks
  perl/Galacticus/Build/SourceTree/Process/FunctionClass.pm
  source/dark_matter_halos.scales.virial_density_contrast.F90
  source/dark_matter_profiles_DMO.finite_resolution.NFW.F90
  source/mass_distributions.spherical.heating.monotonic.F90
  source/nBody.import.GadgetBinary.F90
  source/universe.operators.intergalactic_medium_state_evolve.F90
Labels: bug, memory leak

#846 Expand the tabulated spherical mass distribution class to support up to 3 parameters
  source/mass_distributions.spherical.tabulated.F90
Labels: mass distributions

#849 Add a static analysis check to catch duplicated variables in `constructorAssign` directives
  scripts/aux/staticAnalyzer.pl
Labels: error handling

#850 Avoid infinite loop when using evaluated parameters that are at a depth of 3 or more in the XML
  source/merger_trees.evolver.threaded.F90
  source/tests.parameters.F90
  source/utility.input_parameters.F90
  testSuite/parameters/testsParameters.xml
Labels: bug, parameters

#852 Reduce the Chandrasekhar integral (for dynamical friction) in spherical systems to account for the finite size of the perturber
  source/mass_distributions.spherical.F90
Labels: dynamical friction, subhalos, satellites, mass distributions

#853 Implement FDM profile based on Chowdhury2021
  .github/workflows/cicd.yml
  doc/Galacticus.bib
  source/dark_matter_profiles_DMO.soliton_NFW.F90
  source/mass_distributions.spherical.solition_NFW.F90
  source/tests.dark_matter_profiles.fuzzy_dark_matter.F90
  testSuite/data/densityProfileFuzzyDarkMatterChowdhury2021.txt
  testSuite/parameters/darkMatterProfilesChowdhury2021.xml
Labels: dark matter, mass distributions
